/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
	@apply text-beige underline;
}

.heading {
	@apply text-xl font-bold mb-2;
}
